rgb(45, 12, 85);
card feDiffuseLighting
card-body p {
    margin-bottom: 0px;
}
.card-body p span {
    text-decoration: underline;
    color: magenta;
}
.card{
    transition: all 0.7s;
}
.image {
    width: 100%;
    max-height: 350px;

}
.image img{
    width: 255px;
    
}
.ul, li, a.nav-link:hover{
    font-size: 18;
}

card html
<div class="container">
<div class="row col-12 mt-5">
    <div class="col-md-4 col-lg-4">
        <img class="image" src="image/finlyst.jpg">
        <div class="card">
            <div class="card-header">
                <h2 class="Product-title"> <a href="finaccounts.html">
                        Financial Accounts
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <ul>
                    <li>Income Statements </li>
                    <li>Cash flow Statements</li>
                    <li>Balace Sheet</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <img class="image" src="image/beauty.jpg">
        <div class="card">
            <div class="card-header">
                <h2 class="product-title"> <a href="Analysis.html">
                        Financial Analysis and Reporting
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <ul>
                    <li>Visualization</li>
                    <li>Financial Analysis</li>
                    <li>Financial Reporting</li>

                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-4 col-lg-4  ">
        <img class="image" src="image/blue.jpg">
        <div class="card">
            <div class="card-header">
                <h2 class="product-title"> <a href="advanced.html">
                        Business Tomorrow
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <ul>
                    <li>Financial Projections</li>
                    <li>Finanacial Insight</li>
                    <li>Trends and predictions</li>
                </ul>
            </div>


        </div>
    </div>

</div>
</div>